@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

/*ZERANDO A PÁGINA*/
*{margin:0; padding: 0;}

html,body{
	width: 100%;
	height: 100%;
}

/*CLASSE QUE LIMPA OS FLUXOS FLUTUANTES*/
.clear{
	clear: both;
}

/*-------------------------------------------------CABEÇALHO--------------------------------------------------*/
header{
	width: 100%;
	min-height: 12%;
	background-color: #006466;
}

#icone-dev{
	float: left;
	display: inline;
	margin: 1%;
}

#meu-nome{
	float: left;
	display: inline;
	margin-top: 1.5%;
	font-size: 1.6em;
	font-family: 'Lexend Mega', sans-serif;
	color: #fff;
}

#nota{
	width: 100%;
	float: left;
	color: #fff;
}
/*---------------------------------------------FIM CABEÇALHO--------------------------------------------------*/

/*--------------------------------------------MENU CABEÇALHO--------------------------------------------------*/
#menu{ 
	float: right;
	display: inline;
	margin-top: 2%;
	margin-right: 15%;
}

#menu ul{
	display: inline;
}

#menu li{
	float: left;
	display: inline;
}

#menu li a{
	margin-right: 30px;
	font-family: 'Lexend Mega', sans-serif;
	text-decoration: none;
	font-size: 1em;
	color: #fff;
}

#menu li a:hover{
	transition: 0.5s;
	text-decoration: underline;
}

.barra-menu{
	border-right: 2px solid #fff;
	margin-right: 25px;
}
/*----------------------------------------FIM MENU CABEÇALHO--------------------------------------------------*/

/*---------------------------------------------CONTEÚDO PRINCIPAL---------------------------------------------*/
#conteúdo-principal{
	width: 100%;
	min-height: 80%;
	background-color: #fff;
}
/*-----------------------------------------FIM CONTEÚDO PRINCIPAL---------------------------------------------*/

/*---------------------------------------------BARRA LATERAL--------------------------------------------------*/
#barra-lateral{
	float: left;
	display: inline-block;
	width: 15%;
	height: 490px;
	padding-top: 285px;
	background-image: linear-gradient(to bottom left, #006466, #065A60, #0B525B, #144552, #1B3A4B);
}

#lista-pessoal li{
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	list-style: none;
}

.espaço-lista{
	margin-bottom: 40px;
}

#lista-pessoal li:hover{
	transition: 0.2s;
	background-color: #212F45;
}

#lista-pessoal li a{
	font-family: 'Lexend Mega', sans-serif;
	text-decoration: none;
	font-size: 1em;
	color: #fff;
}
/*-----------------------------------------FIM BARRA LATERAL--------------------------------------------------*/

/*---------------------------------TÓPICOS DA PÁGINA INICIAL--------------------------------------------------*/
.topicos{
	float: left;
	position: absolute;
	display: inline-block;
	width: 50%;
	height: 700px;
	margin-top: 40px;
	background-color: #006466;
	color: #fff;
	font-size: 1.5em;
	border-right: 5px solid #fff;
	border-radius: 10px;
}

#bem-vindo{
	float: left;
	position: absolute;
	display: inline-block;
	width: 50%;
	height: 700px;
	margin-left: 180px;
	margin-top: 40px;
	background-color: #006466;
	color: #fff;
	font-size: 1.5em;
	border-right: 5px solid #fff;
	border-radius: 10px;
}

#técnico{
	margin-left: 220px;
}

#faculdade{
	margin-left: 260px;
}

#interesses{;
	margin-left: 300px;
}
/*-------------------------FIM DOS TÓPICOS DA PÁGINA INICIAL--------------------------------------------------*/

/*-------------------------------------------------RODAPÉ-----------------------------------------------------*/
#rodapé{
	width: 100%;
	min-height: 8%;
	background-color: #0B525B;
}

#parágrafo-rodapé{
	padding-left: 2%;
	padding-top: 2%;
	font-family: 'Lexend Mega', sans-serif;
	font-size: 0.9em;
	color: #fff;
/*---------------------------------------------FIM RODAPÉ-----------------------------------------------------*/