@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=Zen+Tokyo+Zoo&display=swap');

*{margin:0; padding: 0;}

html,body{
	width: 100%;
	height: 100%;
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
}

header{
	width: 100%;
	min-height: 10%;
	background-color: #cbf3f0;
	color: #000;
}

#icone-dev{
	float: left;
	display: inline;
	margin: 1%;
}

#meu-nome{
	float: left;
	display: inline;
	margin-top: 1.5%;
	font-size: 1.9em;
}

#menu{ 
	float: right;
	display: inline;
	margin-top: 2%;
	margin-right: 15%;
}

#menu ul{
	display: inline;
}

#menu li{
	float: left;
	display: inline;
}

#menu li a{
	margin-right: 30px;
	text-decoration: none;
	font-size: 1.3em;
}

#conteúdo-principal{
	width: 100%;
	min-height: 80%;
	background-color: #fff; 
}

#rodapé{
	width: 100%;
	min-height: 10%;
	background-color: #2ec4b6;
	color: #000;
}

#parágrafo-rodapé{
	padding-left: 2%;
	padding-top: 2%;
	color: #fff;
}